[submodule "com.auditor"]
	path = com.auditor
	url = https://github.com/foodopenlab/com.foodopenlab.api.git
[submodule "watcher.www"]
	path = watcher.www
	url = https://github.com/foodopenlab/com.foodopenlab.www.git
[submodule "plan.docs"]
	path = plan.docs
	url = https://github.com/foodopenlab/com.foodopenlab.docs.git
